html {
    margin: 0;

    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    line-height: 1.5em;
}

body {
    position: relative;
    max-width: 1280px;
    margin: 1em auto;
    overflow-x: hidden;
    color: #333;
}

strong {
    font-weight: bold;
    color: #000;
}

em {
    font-style: italic;
    color: #4C1900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;

    font-size: 323.60679775%;
    line-height: 100%;
    text-transform: uppercase;
}

h2,
h3,
h4 {
    font-size: 242.705098312%;
    line-height: 100%;
}

h3 {
    width: 100%;
    color: #676767;
}

h5,
h6 {
    font-size: 127.201964951%;
    line-height: 100%;
}

.section {
    position: relative;
    margin: 3.5em 0 0 185px;
    padding: 0 0 5px 5px;
    border-left: 2px solid #EEE;
}

.section > h2,
.section h3,
.section h4,
.section > p:first-line,
.section > ul:nth-of-type(1) > li:nth-of-type(1) {
    font-size: 127.201964951%;
    font-weight: normal;
    line-height: 100%;
    color: #000;
}

.section > h2 {
    position: absolute;
    left: -177px;
    width: 1280px;
    margin-top: 0;

    text-transform: uppercase;
    color: #4c1900;

    border-bottom: 4px solid #F5F5F5;

    z-index: -1;
}

.section h2 span {
    display: block;
    width: 170px;
    text-align: right;
}

.section h3 {
    margin-top: 1.5em;
}

.section h3 span.location {
    display: block;

    font-size: 12px;
    line-height: 22px;
    color: #BBB;
}

.section h4 {
    position: absolute;
    top: 0;
    right: 1em;
    width: 100%;

    text-align: right;
    border-bottom: 3px solid #F5F5F5;

    z-index: -1;
}

.section h5 {
    margin: .25em 0 .5em 0;
    font-size: 100%;
    line-height: 100%;
    color: #000;
}

.section div {
    position: relative;
}

.section strong {
    color: #885522;
    font-weight: normal;
}

#experience ul li {
    list-style-type: square;
    list-style-color: #996633;

    margin-left: 1em;
}

#content > div {
    clear: both;
}

#candidate,
#title {
    margin: 5px 0 0 195px;
}

#candidate {
    color: #4C1900;
}

#title {
    color: #000;
}

#contact,
#links,
#address {
    position: absolute;
    width: 180px;
    height: 40px;

    margin: 0;
    padding: 0;

    font-size: 80%;
    line-height: 120%;
    text-align:  right;
    text-transform: lowercase;

    color: #676767;
}

#contact {
    top: .95em;
    left: 0;
}

#links {
    top: 5.20em;
    left: 0;
}

#address {
    top: 9.0em;
    left: 195px;

    width: 500px;
    text-align: left;
}

#skills > ul > li > ul {
    margin: 0 0 15px 10px;
}

#skills > ul > li > ul > li {
    display: inline;
}

#skills > ul > li > ul > li > ul {
    display: inline;
    font-size: 80.9016994375%;
    vertical-align: super;

}

#skills > ul > li > ul > li > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#skills ul > li > ul > li:not(:last-child):after {
    content: ", ";
}

#skills ul > li > ul > li > ul > li:not(:last-child):first-child:after {
    content: ": ";
}

#interests > ul,
#interests > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

#interests > ul > li {
    margin-right: 1em;
}

#footer {
    clear: both;

    position: absolute;
    bottom: 0;
    left: 190px;
    margin: 0;
    padding: 0;

    text-transform: uppercase;
}

@media screen and (max-width:750px) {
    body {
        max-width: 500px;
    }

    .section > h2 {
        width: 500px;
    }

    html {
        font-size: 12px;
    }

    .section > ul:first-of-type > li:first-of-type > ul > li {
        font-size: 12px;
    }

    #interests > ul > li:nth-of-type(1),
    #interests > ul > li:nth-of-type(2),
    #interests > ul > li:nth-of-type(3) {
        font-size: 127.201964951%;
        font-weight: normal;
        line-height: 100%;
        color: #000;
        white-space: nowrap;
    }

    #interests > ul > li:nth-of-type(4) {
        clear: both;
    }
}

@media screen and (min-width:750px) and (max-width:1024px) {
    body {
        max-width: 750px;
    }

    .section > h2 {
        width: 750px;
    }

    html {
        font-size: 14px;
    }

    .section > ul:first-of-type > li:first-of-type > ul > li {
        font-size: 14px;
    }

    #interests > ul > li:nth-of-type(1),
    #interests > ul > li:nth-of-type(2),
    #interests > ul > li:nth-of-type(3) {
        font-size: 127.201964951%;
        font-weight: normal;
        line-height: 100%;
        color: #000;
        white-space: nowrap;
    }

    #interests > ul > li:nth-of-type(4) {
        clear: both;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    body {
        max-width: 1024px;
    }

    .section > h2 {
        width: 1004px;
    }

    html {
        font-size: 16px;
    }

    .section > ul:first-of-type > li:first-of-type > ul > li {
        font-size: 16px;
        line-height: default;
    }

    #interests > ul > li:nth-of-type(1),
    #interests > ul > li:nth-of-type(2),
    #interests > ul > li:nth-of-type(3),
    #interests > ul > li:nth-of-type(4),
    #interests > ul > li:nth-of-type(5) {
        font-size: 127.201964951%;
        font-weight: normal;
        line-height: 100%;
        color: #000;
        white-space: nowrap;
    }

    #interests > ul > li:nth-of-type(6) {
        clear: both;
    }
}

@media screen and (min-width:1280px) {
    body {
        max-width: 1280px;
    }

    .section > h2 {
        width: 1260px;
    }

    html {
        font-size: 18px;
    }

    .section > ul:first-of-type > li:first-of-type > ul > li {
        font-size: 18px;
        line-height: default;
    }

    #interests > ul > li:nth-of-type(1),
    #interests > ul > li:nth-of-type(2),
    #interests > ul > li:nth-of-type(3),
    #interests > ul > li:nth-of-type(4),
    #interests > ul > li:nth-of-type(5) {
        font-size: 127.201964951%;
        font-weight: normal;
        line-height: 100%;
        color: #000;
        white-space: nowrap;
    }

    #interests > ul > li:nth-of-type(6) {
        clear: both;
    }
}

@media print {
    @page {
        size: 8.27in 11.69in;
        margin: .25in;
    }

    body {
        max-width: 8.27in;
    }

    .section > h2 {
        width: 8.27in;
    }

    html {
        margin: 0;
        font-size: 12px;
    }

    .section > ul:first-of-type > li:first-of-type > ul > li {
        font-size: 12px;
        line-height: default;
    }

    #header:after {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=80x80&chl=http://nalin.singapuri.com&choe=UTF-8&chld=L|0);
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #content a[href^="http://"]:after,
    #content a[href^="https://"]:after {
        content: ": " attr(href);
    }

    #objective,
    #skills,
    #experience > div,
    #education,
    #interests
    {
        page-break-inside: avoid;
    }

    #footer {
        position: fixed;
    }

    #interests > ul > li:nth-of-type(1),
    #interests > ul > li:nth-of-type(2),
    #interests > ul > li:nth-of-type(3),
    #interests > ul > li:nth-of-type(4) {
        font-size: 127.201964951%;
        font-weight: normal;
        line-height: 100%;
        color: #000;
        white-space: nowrap;
        clear: none;
    }

    #interests > ul > li:nth-of-type(5) {
        clear: both;
    }
}