html {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 22px;
    line-height: 1.5em;
    margin: 50px;
}

body {
    position: relative;

    max-width: 1280px;
    margin: 0 auto;

    color: #666 !important;
}

em {
    font-style: italic;
    color: #4C1900;
}

strong {
    font-weight: bold;
}

h1 {
    margin: 5px 0 0 260px;
    padding: 0;

    width: 100%;

    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

h1:nth-of-type(1) {
    height: 60px;

    color: #4C1900;
}

h1:nth-of-type(2) {
    height: 90px;

    color: #000;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
}

h2 {
    position: absolute;
    left: -260px;
    width: 250px;

    text-align:  right;
    text-transform: uppercase;
    padding: 0 800px 3px 0;
    color: #996633;

    border-bottom: 5px solid #F5F5F5;
}

h3 {
    width: 100%;
    color: #676767;
}

h4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;

    color: #999;

    text-align: right;
}

h5 {
    margin: .5em 0 5px 0;

    color: #000;
}
h5:not(:first-child) {
    margin: 2em 0 5px 0;
}

.section {
    position: relative;
    margin: 3em 0 0 250px;
    padding: 0 0 5px 5px;
    border-left: 2px solid #EEE;

/*    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;*/
}

.section > div {
    position: relative;
    margin: 0;
    padding: 0;
}

.section p {
    margin: 0;
    padding: 0;
}

.section ul li {
    list-style-type: square;
    list-style-color: #996633;

    margin-left: 1em;
}

.section strong {
    color: #885522;
    font-weight: normal;
}

#address, #contact, #links {
    position: absolute;
    width: 250px;

    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 20px;
    text-align:  right;
    text-transform: lowercase;

    color: #676767;
}

#address {
    top: 75px;
    left: 0;
}

#contact {
    top: 10px;
    left: 0;
}

#links {
    top: 140px;
    left: 0;
}

#objective.section p:nth-of-type(1):first-line
{
    display: block;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    color: #676767;
}

#objective.section p:nth-of-type(2)
{
    font-size: 61.803398875%;
    line-height: 100%;

    color: #999;
}

#skills ul:nth-of-type(1) li:nth-of-type(1):first-line,
#interests ul:nth-of-type(1):first-line
{
    display: block;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    color: #676767;
}

#interests.inline_list ul li
{
    color: #676767;
}

#education.section ul > li,
#interests.section ul > li {
    display:inline;
    margin: 1em 1em 0 0;
}

#education.section ul {
    margin: 10px 0 0 0;
}

#experience div:not(:first-of-type) h3 {
    border-bottom: 3px solid #F5F5F5;
    position: relative;
    left: -20px;
    padding: 0 0 0 20px;
    margin: 2em 0 0 0;
}

#experience > div > div > ul > li > ul > li {
    list-style-type: none;
    margin-left: 0;
}

.inline_list ul {
    margin: 0;
}
.inline_list ul > li {
    list-style-type: none;
    margin: 1em 0 0 0;

    color: #000;
}

.inline_list ul > li > ul > li {
    font-weight: normal;

    display: inline;

    margin: 0;

    list-style-type: none;
    color: #676767;
}

.inline_list ul > li > ul > li > ul {
    display: inline;

    margin: 0;

    list-style-type: none;
    white-space: nowrap;
}
.inline_list ul > li > ul > li > ul > li:not(:first-child) {
    font-size: 16px;
}
.inline_list ul li > ul > li:not(:last-child):after {
    content:", ";
}
.inline_list ul li > ul > li > ul:before {
    content:" (";
}
.inline_list ul li > ul > li > ul:after {
    content:")";
}
.inline_list ul li > ul > li > ul li:not(:last-child):first-child:after {
    content:": ";
}

#footer {
    position: relative;
    bottom: 0;
    left: 260px;

    text-transform: uppercase;
}

@media print {
    @page {
        size: 8.27in 11.69in;
        margin: .5in .5in .5in .5in;
    }

    html {
        font-size: 18px;
        line-height: 1.5em;
        margin: 0;
    }

    body {
        max-width: auto;
    }

    h1 {
        margin-left: 220px;
        width: 7.27in;
    }

    h2 {
        left: -220px;
        width: 210px;
    }
    .section {
        margin-left: 220px;
    }

    #address, #contact , #links {
        width: 210px;
    }

    h2, h3, h4, #objective.section p:nth-of-type(1):first-line, #skills ul:nth-of-type(1) li:nth-of-type(1):first-line, #interests ul:nth-of-type(1):first-line
    {
        font-size: 24px;
        line-height: 24px;
    }

    a {
        color: #000;
        text-decoration:none;
    }

    #content a[href^="http://"]:after, #content a[href^="https://"]:after {
        content: ": " attr(href);
    }


    #experience > div
    {
        page-break-inside: avoid;
    }

    #header {
        width: 100%;
    }

    #header:after {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=125x125&chl=http://nalin.singapuri.com&choe=UTF-8&chld=L|0);
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #footer {
        position: fixed;
        left: 230px;

    }
}
